.svn
.project
.pydevproject
*.pyc
*.egg-info
/build
/dist
.settings
*.DS_Store
localinstance_files/
.coverage/
.coverage
nosetests.xml
coverage*/
.idea/
include/
lib/
*.egg
.tox/*
*.sw?
/jenkinsapi_tests/systests/coverage.xml
/.cache
/AUTHORS
/ChangeLog
.pytest_cache
.eggs
coverage.xml
.venv/
.vscode/
*.war
