dist: trusty
group: edge
language: python
python:
- '2.7'
- '3.4'
- '3.5'
env:
- JENKINS_VERSION=stable
- JENKINS_VERSION=latest
before_install:
- jdk_switcher use oraclejdk8
install:
- pip install -r requirements/dev-requirements.txt
- python setup.py develop
script:
- make lint
- make coverage
after_success:
- codecov
